.search_bar {
  text-align: center;
  margin-bottom: 30px;
}

.search_input {
  width: 300px;
  margin-right: 20px;

  padding: 7px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.search_input:hover,
.search_input:focus {
  outline: none;
  border: 1px solid #6087fa;
}

.search_btn {
  padding: 7px 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: rgba(112, 211, 221, 0.3);
}

.searchBtn:hover,
.searchBtn:focus {
  outline: none;
  border: 1px solid #6087fa;
  cursor: pointer;
  color: #6087fa;
  transition: color linear 250ms;
}

.form_error {
  color: red;
}
