.content {
  border: none;
  inset: 50% auto auto 50%;
  background: transparent;
  border-radius: 8px;
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  overflow: auto;
  outline: none;
}

.photo {
  margin: auto;
  border-radius: 8px;
}

.description {
  text-align: center;
  font-size: 18px;
}